@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(249, 249, 249);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.active {
  color: #00bcd4;
  border-radius: 100%;
  padding: 0.5rem;
}

.section {
  @apply flex items-center py-10 lg:my-20;
}

.gradient-text,
.hero,
.links {
  background: linear-gradient(to right, #fe0fb5, #09e9f0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.html,
.css,
.js,
.ts,
.react,
.swift,
.figma,
.python,
.ps,
.ai,
.tw,
.njs {
  border: 2px solid #00bcd4;
  color: #00bcd4;
  text-transform: uppercase;
  font-size: x-small;
}
