@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #18181a;
  --accent-pink: #fe0fb5
  --accent-blue: #09e9f0;
}

body {
  background-color: #18181a;
  color: white;
}

.active {
  color: #00bcd4;
  border-radius: 100%;
  padding: 0.5rem;
}

.section {
  @apply flex items-center py-10 lg:my-20;
}

.gradient-text,
.hero,
.links {
  background: linear-gradient(to right, #fe0fb5, #09e9f0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.html,
.css,
.js,
.ts,
.react,
.swift,
.figma,
.python,
.ps,
.ai,
.tw,
.njs {
  border: 2px solid #0e7490;
  color: white;
  text-transform: uppercase;
  font-size: x-small;
}

.html:hover,
.css:hover,
.js:hover,
.ts:hover,
.react:hover,
.swift:hover,
.figma:hover,
.python:hover,
.ps:hover,
.ai:hover,
.tw:hover,
.njs:hover {
  background-color: #0e7490;
  border: 2px solid white;
  cursor: pointer;
}

.logo {
  filter: invert(1);
}
